.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FDF1E5;
}

.hero-section {
    position: relative;
    width: 100%;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.hero-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
  
.hero-button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100%;
    top: 50px;
    text-align: center;
}

.hero-title {
    color: black;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
  
.hero-button {
    background-color: #E9F3E9;
    color: black;
    padding: 16px 32px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
    cursor: pointer;
}  
  
.hero-button:hover {
    background-color: #f3f3f3;
    transform: translateY(-2px);
}

.home-section {
    height: 600px;
    width: 100%;
}

.home-image-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.ready-adopt-section h2 {
    font-size: 5rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
    text-align: left;
}

.ready-adopt-content {
    position: absolute;
    inset: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    color: white;
    font-weight: bold;
    font-size: 48px;
}
  
.home-bg-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
  
.support-us-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: none;
    z-index: 1;
}

.support-us-content {
    position: absolute;
    inset: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
    color: white;
    font-weight: bold;
    font-size: 48px;
}
  
.support-us-content h2 {
    font-size: 5rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

.white-link {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
    font-weight: bold;
}

.white-link:hover {
    opacity: 0.8;
}
