.layout-container {
    display: flex;
    flex-direction: column;
}

.layout-content {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding-top: 72px;
    background-color: #faf1e2;
    overflow-x: hidden;
    box-sizing: border-box;
}