/* Navbar Container */
.navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 72px;
    box-sizing: border-box;
    background-color: #B2D8E8;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-buttons {
    display: flex;
    color: #000000;
}

.navbar-buttons button{
    font-weight: 500;
}

/* Logo */
.navbar-logo{
    height: 40px;
    width: auto;
}

.navbar-user-icon{
    height: 40px;
    width: auto;
}

/* Button styling */
.navbar-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-buttons button:hover {
    color: #1D4ED8; /* Blue color on hover */
}
