/* Profile page styles */
.profile-info-list {
    width: 50%;
    margin: 0px auto 30px;
}

.profile-info-item {
    display: flex;
    margin-bottom: 15px;
    padding: 10px 0;
}

.profile-info-label {
    font-weight: 500;
    width: 50%;
    flex-shrink: 0;
    color: #333;
}

.profile-info-value {
    color: #444;
    flex-grow: 1;
}